### Parse Hex's more complete Item-ID list & convert to Hexadecimal IDs for insertion into CEA files for Mass-Item-Gibs

In [38]:
import pandas as pd

In [39]:
# Define the function to convert decimal IDs to hexadecimal with 8 digits
def decimal_to_hexadecimal(decimal_id):
    return hex(int(decimal_id))[2:].zfill(8)  # Remove '0x' prefix and pad with zeros to 8 digits

# Define a function to write the export file
def write_export_file(group_df):
    type_name = group_df['type'].iloc[0]
    file_name = f'./HEX_IDs/HEX_{type_name}.txt'
    
    with open(file_name, 'w') as export_file:
        for _, row in group_df.iterrows():
            if type_name in ["weapon", "catalyst"]:
                # dd 00D6FF10 00000001 FFFF0000 FFFFFFFF // Axe Of Epiphany
                line = f'dd {row["id"]} 00000001 FFFF0000 FFFFFFFF // {row["name"]}\n'
            elif type_name in ['armor']:
                # dd 10009C40 00000001 00000000 FFFFFFFF // Iron Helmet
                line = f'dd 1{row["id"][1:]} 00000001 00000000 FFFFFFFF // {row["name"]}\n'
            else:
                # dd 40000898 00000001 00000000 FFFFFFFF // Prattling Pate "Hello"
                line = f'dd 4{row["id"][1:]} 00000001 00000000 FFFFFFFF // {row["name"]}\n'
            export_file.write(line)

In [40]:
csv_file_path = 'ConvergenceER_Item_IDs_by_Hexwedgie.csv'
df = pd.read_csv(csv_file_path)

# Group by 'type' and convert IDs to hexadecimal
grouped_df = df.groupby('type',group_keys=False).apply(lambda group: group.assign(id_hex=group['id'].apply(decimal_to_hexadecimal)))

# Drop the original 'id' column
grouped_df.drop(columns=['id'], inplace=True)

# Rename the 'id_hex' column to 'id'
grouped_df.rename(columns={'id_hex': 'id'}, inplace=True)

# grouped_df.drop(columns=['type'], inplace=True)

# Apply the write_export_file function to each group and create export files
grouped_df.groupby('type').apply(write_export_file)

grouped_df.head(10)

       type                       name        id
0  keystone                 keystone 1  00001f7c
1  keystone                 keystone 2  00001f7d
2  keystone                 keystone 3  00001f7e
3  keystone                 keystone 4  00001f7f
4  keystone                 keystone 5  00001f80
5      rune       faint rune of beasts  0000206c
6      rune  shimmering rune of beasts  0000206d
7      rune     glowing rune of beasts  0000206e
8      rune     shining rune of beasts  0000206f
9      rune     radiant rune of beasts  00002070

Count of Remnants:
1. Essence Physick Remnant - 15
2.